<%- include("navbar") %>
<div class="flex max-h-full flex-col align-center px-14 py-28 lg:px-8">
    <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Schedule an Interview</h2>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <form class="space-y-6 " action="/api/v1/interviews/schedule" method="POST">
        <div class="flex align-center justify-between">
            <label for="company" class="text-md font-medium text-gray-900 my-auto">Company :</label>
            <select name="company" id="company" class="inline-block max-w-full min-w-60 rounded-md border-0 py-1.5 px-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-00 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                <option selected disabled >Select Company</option>
                <% for(let company of companiesList){ %> 
                    <option value="<%=company._id %>"><%=company.name %></option>
                <% } %>
            </select>
        </div>
        <div class="flex align-center justify-between">
          <label for="student" class="text-md font-medium text-gray-900 my-auto">Student :</label>
          <select name="student" id="student" class="inline-block max-w-full min-w-60 rounded-md border-0 py-1.5 px-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-00 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
              <option selected disabled >Select Student</option>
              <% for(let student of studentsList){ %> 
                  <option value="<%=student._id %>"><%=student.fullName %></option>
              <% } %>
          </select>
      </div>
        <div class="flex align-center justify-between">
            <label for="position" class="text-md font-medium text-gray-900 my-auto">Position :</label>
            <input type="text" name="position" id="position" required placeholder="SDE" class="inline-block max-w-full min-w-60 rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-500 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
        <div class="flex align-center justify-between">
            <label for="place" class="text-md font-medium text-gray-900 my-auto">Place :</label>
            <input type="text" name="place" id="place" required placeholder="Delhi" class="inline-block max-w-full min-w-60 rounded-md border-0 py-1.5 px-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-500 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
        <div class="flex align-center justify-between">
            <label for="date" class="text-md font-medium text-gray-900 my-auto">Date :</label>
            <input id="date" name="date" type="date" autocomplete="date" required class="block max-w-full min-w-60 rounded-md border-0 py-1.5 px-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
        <div>
          <button type="submit" class="flex w-full  justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Schedule</button>
        </div>
      </form>
    </div>
  </div>